/*-------
---------
ZOI's CSS
---------
-------*/




/*--------
Breadcrumb
--------*/
.breadcrumb{
  width: 100%;
  margin: 30px;
  background-color: #bfbfbf;
  border-radius: 10px;
}

/*----
Button
----*/

/*--
Card
--*/

/*------
Carousel
------*/

/*------
Dropdown
------*/

/*-------
Jumbotron
-------*/

/*----
Navbar
----*/

/*------
Progress
------*/
